<!doctype html>
<html>
   <body>
   <form action="{{url_for('list')}}" method="POST">
      <table border = 1>
         <thead>
            <td>USERNAME</td>
            <td>EMAIL</td>
            <td>PASSWORD</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["username"]}}</td>
               <td> {{ row["email"]}}</td>
               <td>{{row['password']}}</td>	
            </tr>
         {% endfor %}
      </table>
   </form>
      <a href = "/">Go back to home page</a>
      
   </body>
</html>