* {
    box-sizing: border-box;
  }
  
  body {
    background-image: url('https://media.istockphoto.com/photos/old-vintage-hourglass-with-magnifying-glass-with-shadow-on-dark-with-picture-id922727220?k=6&m=922727220&s=170667a&w=0&h=9t7gemNzxgsHQLo40NA0P2w8DhxOOWPLyJMB5f3CdjE=');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color:grey;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  h1 {
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  input {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
  }
  
  button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #000000;
  }
  
  @media screen and (max-width: 480px) {
    .container {
      padding: 1rem;
    }
  }

  @media (max-width : 600px){
    .login-c{
      width: 375px;
      margin: 0px;
    }
    body{
      display: flex;
      justify-content: center;
      padding: 0px;
      align-items:  center;
    }
  }